/NUnitTestsProject/TestResult.xml
/NUnitTestsProject/TheGameTestsProject.VisualState.xml
/NUnitTestsProject/TheGameTestsProject.nunit
/TheGame/*.suo
/TheGame/Client/bin/Debug
/TheGame/Client/obj/Debug
/TheGame/TheGame/bin/Debug
/TheGame/TheGame/obj/Debug
/TheGame/Tools.Tests/bin/Debug
/TheGame/Tools.Tests/obj/Debug
/TheGame/Tools/bin/Debug
/TheGame/Tools/obj/Debug
